.search-container {
    margin: 20px 0;
    text-align: center;
}

#searchInput {
    width: 50%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.delete-btn {
    background-color: #dc3545; /* Vermelho */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #c82333; 
}