<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Acólitos</title>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/admin.css">
    <script type="module" src="/script/auth-guard.js"></script>
</head>
<body>
 <%- include('./templates//nav.ejs')%>

        <header class="header-container">
            <h2>Dashboard de Acólitos</h2>
            <input type="search" id="searchInput" placeholder="Pesquisar por nome...">
        </header>
        <!--<div class="table-container">
            <table>
            </table>
            <p id="no-results-message" style="display:none; text-align: center;">Nenhum acólito encontrado.</p>
        </div>-->

    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Escola / Série</th>
                        <th scope="col">Contatos de Emergência</th>
                        <th scope="col">Documentos</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody id="acolytes-table-body">
                    </tbody>
            </table>
            <p id="no-results-message" style="display:none; text-align: center;">Nenhum acólito encontrado.</p>
        </div>
    </main>

    <script type="module" src="/script/firebase-client.js"></script>
    <script type="module" src="/script/acolito-dashboard.js"></script>
</body>
</html>
</body>
</html>