<header class="header">
    <div class="container">
        <h1 class="logo">Rede ALSA</h1>
        <nav>
            <ul>
                <li><a href="/">Registrar Voluntário</a></li>
                <li><a href="/volunteer-dashboard">Dashboard Voluntários</a></li>
                <li><button id="logout-btn">Sair</button></li>
            </ul>
        </nav>
    </div>
</header>