<header class="header">
    <div class="container">
        <h1 class="logo">Rede ALSA</h1>
        <nav>
            <ul>
                <li><a href="/volunteer">Registrar Volunt치rio</a></li>
                <li><a href="/volunteer-dashboard">Dashboard Volunt치rios</a></li>
                <li><a href="/acolito">Registrar Ac칩lito</a></li>
                <li><a href="/acolito-dashboard">Dashboard Ac칩litos</a></li>
                <li><button id="logout-btn">Sair</button></li>
            </ul>
        </nav>
    </div>
</header>